@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth !important;
    }
}

/* *=========== Orange theme =========== */
@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 98% 54%;
        --primary-foreground: 355.7 100% 100%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 31%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 98% 54%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 20.5 96.9% 57.5%;
        --primary-foreground: 144.9 80.4% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 20.5 96.9% 57.5%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* HeroCards background shadow */
.shadow {
    position: absolute;
    background: hsl(var(--primary) / 0%);
    border-radius: 24px;
    rotate: 35deg;

    width: 260px;
    top: 200px;
    height: 400px;
    filter: blur(150px);
    animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
    from {
        background: hsl(var(--primary) / 20%);
        right: 460px;
    }
    to {
        background: hsl(var(--primary) / 80%);
        right: 160px;
    }
}

@media (max-width: 1024px) {
    .shadow {
        top: 70px;
    }

    @keyframes shadow-slide {
        from {
            background: hsl(var(--primary) / 20%);
            right: 460px;
        }
        to {
            background: hsl(var(--primary) / 50%);
            right: 160px;
        }
    }
}

@media (max-width: 768px) {
    .shadow {
        top: 70px;
        width: 100px;
        height: 350px;
        filter: blur(60px);
    }

    @keyframes shadow-slide {
        from {
            background: hsl(var(--primary) / 20%);
            right: 280px;
        }
        to {
            background: hsl(var(--primary) / 30%);
            right: 100px;
        }
    }
}
